/*
	Rough collapse
	by Oskar Rough Mosumgaard
	http://github.com/oskarrough/rough-collapse
*/



/* Neccesary styles (nothing, in this case) */
.rough-collapse {}
.rough-collapse__panel {}
.rough-collapse__title {}
.rough-collapse__title a {}
.rough-collapse__content {}


/* Makeup (no need to include these in production) */
.rough-collapse {
	max-width: 20em;
	margin: 2em auto;
}
.rough-collapse__panel {
	border: 5px solid;
	margin-bottom: 1em;
}
.rough-collapse__panel.isActive {
	border-color: green;
}
.rough-collapse__title a {
	display: block;
	padding: 1em;
	color: black;
}
.rough-collapse__title a:hover {
	color: green;
}
.rough-collapse__content {
	padding: 0 1em 1em;
}
.rough-collapse h3 {
	margin: 0;
}